




<div class="row">
    <input type="text" class="form-control" [(ngModel)]="full_name_test">
</div>
<div class="row">
    <input type="email" class="form-control" [(ngModel)]="email_test">
</div>
<div class="row">
   <button *ngIf="editAction==-1" type="button" (click)="saveData()">Submit</button>
   <button *ngIf="editAction!=-1" type="button" (click)="updateTest()">Update</button>
</div>

 <table cellpadding="7" cellspacing="7">
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tr *ngFor="let data of grid_row; let i=index">
                <td>
                   {{i + 1}}
                </td>
                <td>
                    {{data.name}}
                </td>
                <td>
                    {{data.email}}
                </td>
                <td>
                    <a href="javascript:;" (click)="editTest(i)">Edit</a>
                </td>
            </tr>
        </table>

       